public/json-workflows/workflow-document-processing-error-handling.json
{

  "name": "Document Processing - Error Handling",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7c4a2c4a-e70a-4252-ae3e-05d3ed019119",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ExecutionId\": {{ $json.execution.id }},\n  \"WorkflowName\": \"{{ $json.workflow.name }}\",\n  \"WorkflowId\": \"{{ $json.workflow.id }}\",\n  \"SubmissionId\": \"{{ $json.execution.error.context?.metadata?.submissionId  || \"\"}}\",\n  \"Node\": \"{{ $json.execution.lastNodeExecuted }}\",\n  \"Message\": \"{{ $json.execution.error.message }}\",\n  \"Stack\": \"{{ $json.execution.error.stack }}\",\n   \"ExecutionTimestamp\": \"{{ $json.execution.executionContext?.establishedAt || 0 }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d8d32dc9-9ced-49aa-9014-230cd88b78b3",
      "name": "Extract useful data from Input"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appgUq3lBSqCb0vOC",
          "mode": "list",
          "cachedResultName": "Document-Processing",
          "cachedResultUrl": "https://airtable.com/appgUq3lBSqCb0vOC"
        },
        "table": {
          "__rl": true,
          "value": "tblxNkT5hWriKhQaE",
          "mode": "list",
          "cachedResultName": "Error Logging",
          "cachedResultUrl": "https://airtable.com/appgUq3lBSqCb0vOC/tblxNkT5hWriKhQaE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ExecutionId": "={{ $json.ExecutionId }}",
            "WorkflowName": "={{ $json.WorkflowName }}",
            "WorkflowId": "={{ $json.WorkflowId }}",
            "Node": "={{ $json.Node }}",
            "Message": "={{ $json.Message }}",
            "Stack": "={{ $json.Stack }}",
            "ExecutionTime": "={{ $json.ExecutionTimestamp }}",
            "SubmissionId": "={{ $json.SubmissionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ExecutionId",
              "displayName": "ExecutionId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WorkflowName",
              "displayName": "WorkflowName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WorkflowId",
              "displayName": "WorkflowId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SubmissionId",
              "displayName": "SubmissionId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stack",
              "displayName": "Stack",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ExecutionTime",
              "displayName": "ExecutionTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ExecutionTimeISO",
              "displayName": "ExecutionTimeISO",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created Timestamp",
              "displayName": "Created Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "5a96cbab-909a-4844-9df1-28739643d4cc",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "iyRSKOGwtiAbZ9ld",
          "name": "Airtable-PAT-Careerist"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A9A3WJQ13",
          "mode": "list",
          "cachedResultName": "internship-document-processing-output"
        },
        "text": "=🚨 Workflow Error Alert  \nWorkflow: {{ $json.fields.WorkflowName }}\nRun ID: {{ $json.fields.ExecutionId }}  \nTime:  {{ DateTime.fromISO($json.fields.ExecutionTimeISO).toUTC().format('dd MMMM yyyy - HH:mm:ss a') }} (UTC)\nError Type: {{ $json.fields.Message }}   \n\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        624,
        0
      ],
      "id": "a17f1072-098f-4876-90f1-b4331e28226e",
      "name": "Send a message",
      "webhookId": "5c4050db-5887-4416-a0fc-55888fc7173b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YGJlQb7AJOQrhFIo",
          "name": "Slack-app-ssmith1975-ai"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9G18lPvBeZvxDytn",
          "mode": "list",
          "cachedResultUrl": "/workflow/9G18lPvBeZvxDytn",
          "cachedResultName": "Document Processing - Logging"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionId": "={{ $('Extract useful data from Input').item.json.ExecutionId.toString() }}",
            "errorMessage": "={{ $('Extract useful data from Input').item.json.Message }}"
          },
          "matchingColumns": [
            "executionId"
          ],
          "schema": [
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "errorMessage",
              "displayName": "errorMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        0
      ],
      "id": "af0af09a-2c3f-488a-b8b0-5f1f9658d900",
      "name": "Log Execution - Error"
    },
    {
      "parameters": {
        "content": "## Document Processing - Error Handling\n### Automation AI\nSamantha Smith\n1/15/2026\n\nSub-Workflow executes whenever an error occurs. \n\n* Extracts error data\n* Creates a record in Error Logging AirTable \n* Sends slack message to team\n* Sends execution data to *Document Processing - \nLogging* sub-workflow",
        "height": 512,
        "width": 1072,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -304
      ],
      "id": "00cff945-d182-410e-a4be-4f667b0797e3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract useful data from Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract useful data from Input": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Log Execution - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d66b9b22-36a9-4ca2-86ac-5e3d666516d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22430251e53e6ded5bd69213a759c799c31970fb4d232eb446e9b0ed03bc4769"
  },
  "id": "uBFlb9p18Z5asHGo",
  "tags": [
    {
      "updatedAt": "2026-01-14T20:22:35.675Z",
      "createdAt": "2026-01-14T20:22:35.675Z",
      "id": "4xYeJBrHYFHV1uyq",
      "name": "Internship"
    },
    {
      "updatedAt": "2026-01-14T20:22:46.748Z",
      "createdAt": "2026-01-14T20:22:46.748Z",
      "id": "QY4QFPMhcvPFcSl5",
      "name": "Case 1"
    }
  ]
}
