public/json-workflows/knowledge-base-chatbot/workflow-knowledge-base-chatbot-qdrant.json
{
  "name": "Lesson 19 - Knowledge Base Chatbot - Qdrant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}",
        "options": {
          "systemMessage": "#Overview\nYou are an AI agent who is an knowledge base assistant for GreenBite Kitchen vegan restaurant, their menu, services, store schedule, prices, FAQ, and the health benefits they provide. You'll receive a question from the user, and you must use your tool called \"Supabase Vector Store\" to retrieve passages from the documents  \"GreenBite Kitchen - Frequently Asked Questions\", \"GreenBite Kitchen - Product Knowledge Base\" and \"GreenBite Kitchen - Menu Pricing\" in order to answer accurately. Focus on the following topics:\n\n\t- Core Menu Categories\n\t- Featured Items\n\t- Sourcing Commitment\n\t- Nutritional Standards\n\t- Ordering Options\n\t- Menu Items and  Pricings\n\t- General questions about the restaurant\n\nAlways ground your answers in the retrieved context only from this document before responding.\n\n\t-  If the answer is not in the context, say \"I don't have information about that in my knowledge base\"\n\t- Be clear, concise, and helpful\n\t- Cite the source document when possible\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -352,
        112
      ],
      "id": "0a67e0bc-322a-4c05-bbdb-001eeaa35aa0",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.client_msg_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -272,
        480
      ],
      "id": "ec96bb1d-fb3f-4b44-80f8-6fa10448c8e5",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "DTel7RAIIZmszinX",
          "name": "redis-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {
        "content": "## Qdrant Vector Store",
        "height": 432,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        320
      ],
      "typeVersion": 1,
      "id": "ec602023-019a-4779-8f4d-f621cd422be5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -384,
        336
      ],
      "id": "c6572840-07fb-480b-806e-b610d52550c6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KsDXyHfIfPVXhYLw",
          "name": "openrouter-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        608
      ],
      "id": "930d53dc-8f5b-443a-9d46-88a2f2dc45a2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "1X4frGBVhczJgGJJ",
          "name": "openai-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        240,
        608
      ],
      "id": "0f4d5a6d-ec5a-43c4-bb96-44160f993283",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "nMFCilx9uOJMM6Jn",
          "name": "cohereai-api-ssmitih1975.ai"
        }
      }
    },
    {
      "parameters": {
        "content": "## Creating Qdrant Vector store            ",
        "height": 768,
        "width": 1920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        784
      ],
      "typeVersion": 1,
      "id": "778a862f-0460-4e57-87a8-3ef840a94551",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "GreenBite Kitchen",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1iDBvjphElIKOTohQg9rJ3Jn1wQTYgy6X",
            "mode": "list",
            "cachedResultName": "Lesson-19-ChatBot",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1iDBvjphElIKOTohQg9rJ3Jn1wQTYgy6X"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1264,
        1008
      ],
      "id": "5aaabab0-2e0b-4f25-99e0-329f61be6d58",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RLCIKuG1B4bAnI04",
          "name": "google-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        1024
      ],
      "id": "a55928f1-1643-4d6a-a8ae-5da944bb19e3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RLCIKuG1B4bAnI04",
          "name": "google-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        1024
      ],
      "id": "5f416fe4-18f8-4d49-b0c7-1b9b9b76821a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        1248
      ],
      "id": "94541082-04a1-437d-92b2-c7f4cc71a47b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "1X4frGBVhczJgGJJ",
          "name": "openai-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        32,
        1232
      ],
      "id": "8754e986-06f3-42b0-b2f5-d4d5c1aba5b1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        144,
        1360
      ],
      "id": "07b3e3c5-fad9-4b04-b0a6-f12ac12127da",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "1XQlBqjWC8Oqr5ta",
          "mode": "list",
          "cachedResultName": "Lesson19_ChatBot_File_Upload_Data",
          "cachedResultUrl": "/projects/ShwDA0vb010XJrwf/datatables/1XQlBqjWC8Oqr5ta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.id }}",
            "file_name": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_0",
              "displayName": "id_0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdAt_0",
              "displayName": "createdAt_0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "updatedAt_0",
              "displayName": "updatedAt_0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -912,
        1008
      ],
      "id": "2142f7a8-296f-4cfb-b379-915960cffbd5",
      "name": "Record file info to db table"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "1XQlBqjWC8Oqr5ta",
          "mode": "list",
          "cachedResultName": "Lesson19_ChatBot_File_Upload_Data",
          "cachedResultUrl": "/projects/ShwDA0vb010XJrwf/datatables/1XQlBqjWC8Oqr5ta"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1104,
        1008
      ],
      "id": "bf96b750-af24-4f0e-8f02-050b066a6510",
      "name": "Check if file info not found in db table"
    },
    {
      "parameters": {
        "fieldToSplitOut": "file_id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -736,
        1008
      ],
      "id": "c8090312-72b2-43d6-9e18-7ae08bb88d50",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -576,
        1008
      ],
      "id": "1b39b514-67be-4ceb-83d9-cd901c8fbce2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -384,
        864
      ],
      "id": "91b11159-8a21-40e7-ac3b-c3c2af34ff31",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "# Lesson 19 - Knowledge Base Chatbot - Qdrant\n## AI Automation\nSamantha Smith\n12/15/2025\n\nA Chatbot for GreenBite Kitchen --- a fictitious vegan fast-food restaurant.\n\n* User communicates with bot via Slack (see [ssmith-workflow-output](https://app.slack.com/client/T09QNL5T4GY/C09T3BH7KFC) private Slack channel.\n* Context based on the restaurant's Knowledge Base, FAQs, and Pricing Menu.\n* Thisi workflow can handle uploading multiple PDF documents at once.\n\nThe workflow includes an AI RAG Agent utilizing \n* Chat GPT 4.1-mini (OpenRouter)\n* Redis Chat memory\n* Qdrant Vector store\n\nCreating the Supbase Vector store involves:\n* Querying Google Drive folder for available files\n* Checking if that file is listed in a DB table as no having been uploaded\n* If file not yet uploaded, add it to DB table\n* Process each individual file by downloading it from Google Drive,\nextracting data and uploading it to Supabase as embeddings",
        "height": 640,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        112
      ],
      "id": "21ab3eb0-c39c-4f91-bc34-36a807daccf4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "trigger": "={{ [\"app_mention\"] }}",
        "channelId": {
          "__rl": true,
          "value": "C0AG0L59B6V",
          "mode": "list",
          "cachedResultName": "lesson-19-chatbot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        112
      ],
      "id": "f0806b5c-9ad0-40f3-bebd-5ca64f473182",
      "name": "Slack Trigger",
      "webhookId": "670cb2ab-4c96-4181-9d00-1e92869e24e1",
      "credentials": {
        "slackApi": {
          "id": "8nFG2NITn0j0tYdV",
          "name": "slack-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AG0L59B6V",
          "mode": "list",
          "cachedResultName": "lesson-19-chatbot"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -32,
        112
      ],
      "id": "d607152f-31c2-45e6-8bfc-d8dabd6da6d1",
      "name": "Send a message",
      "webhookId": "5122af1a-f095-4933-8d05-f82d9f49229d",
      "credentials": {
        "slackApi": {
          "id": "8nFG2NITn0j0tYdV",
          "name": "slack-api-ssmith1975.ai"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Accesses data from database",
        "qdrantCollection": {
          "__rl": true,
          "value": "lesson-19-knowledge-base-chat",
          "mode": "list",
          "cachedResultName": "lesson-19-knowledge-base-chat"
        },
        "topK": 20,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        64,
        416
      ],
      "id": "77732435-9dcf-440e-9ae0-ba9a8e77ae82",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "aRNuNzN67y9huYDi",
          "name": "qdrant-vector-store-ssmith1975"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        1008
      ],
      "id": "c5d1b849-7e61-41d9-b651-da29995ca2e5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "lesson-19-knowledge-base-chat",
          "mode": "list",
          "cachedResultName": "lesson-19-knowledge-base-chat"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        0,
        1024
      ],
      "id": "d9823a66-4670-4cb0-ab7e-dc3fbdf5c5e2",
      "name": "Qdrant API Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "aRNuNzN67y9huYDi",
          "name": "qdrant-vector-store-ssmith1975"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Check if file info not found in db table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant API Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant API Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant API Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Record file info to db table": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file info not found in db table": {
      "main": [
        [
          {
            "node": "Record file info to db table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant API Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "585a8b78-831b-4a17-a6a5-f25993e2c904",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ce4fbac823eb845d81a61ee6274f32a2085c54aad44b909576ff986ae0f7fbf"
  },
  "id": "ayzJVBknoGdvJQFs",
  "tags": []
}